* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #838080;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
.container {
  position: relative;
}
/* oposite slider  */
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  contain: layout paint;
}

img {
  position: absolute;
  width: 500px;
  height: auto;
  top: 50%;
  transform: translatey(-50%);
}

/* Initial positions */
.photo1,
.photo2 {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.photo1 {
  left: 35%;
  animation: moveLeft 6s cubic-bezier(0.02, 0.47, 0.39, 0.99) infinite;
}

.photo2 {
  right: 35%;
  animation: moveRight 6s cubic-bezier(0.02, 0.47, 0.39, 0.99) infinite;
}

/* Keyframes */
@keyframes moveLeft {
  0% {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) translateX(-900px);
    opacity: 0;
  }
}

@keyframes moveRight {
  0% {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) translateX(900px);
    opacity: 0;
  }
}

/* hover */
.square1 {
  width: 500px;
  aspect-ratio: 4/5;
  background-image: url("../media/image1.png");
  background-size: auto 100%;
  background-position: 0 var(--up);
  background-repeat: no-repeat;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: background-position 0.7s;
}

.square1:hover {
  --up: 1000px;
}

.square1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../media/image2.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.6s ease, opacity 0.6s ease;
  z-index: 2;
}

.square1:hover::after {
  opacity: 1;
  transform: translateY(0);
}
